.mescroll{
	position: fixed;
	top: 0;
	bottom: 0;
	height: auto; /*如设置bottom:50px,则需height:auto才能生效*/
}
.stock_name a{
		text-overflow: ellipsis; /* for IE */
		-moz-text-overflow: ellipsis; /* for Firefox,mozilla */
		overflow: hidden;
		white-space: nowrap;
		text-align: left;
}
